<a href="https://colab.research.google.com/github/Ankita-Singh05/Python/blob/main/Basics_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1

In [ ]:
a

1

In [ ]:
x =10
print(x)

10

In [ ]:
y ="hello"

In [ ]:
print(y)

hello

In [ ]:
print("the value of x is", x)

the value of x is 10

Testing the text option

In [ ]:
x=3

In [ ]:
x**2

9

In [ ]:
y=11

In [ ]:
y%2

1

In [ ]:
a=5
b=10

In [ ]:
c=a+b
d=a-b
e=a*b

In [ ]:
f=a/b
g=b**a
h=g%c

In [ ]:
print(a,b,c,d,e,f,g,h)

5 10 15 -5 50 0.5 100000 10

In [ ]:
print (g,"%",c,"=",h)

100000 % 15 = 10

In [ ]:
a=10
b=20

In [ ]:
a!=b

True

In [ ]:
a<b

True

In [ ]:
a>b

False

In [ ]:
a<=b

True

In [ ]:
a>=b

False

In [ ]:
a==b

False

In [ ]:
if a>b:
  print("A is greater")
elif a<b:
  print("B is greater")
else:
  print("A and B are equal")

B is greater

In [ ]:
student_grade = int(input("Please enter a grade:"))

if student_grade>=90:
  letter ="A"
elif student_grade>=80:
  letter ="B"
elif student_grade>=70:
  letter = "C"
elif student_grade>=60:
  letter = "D"
else:
  letter ="F"
print(letter)

Please enter a grade:99
A

In [ ]:
student_grade = int(input("Please enter a grade:"))

if student_grade<60:
  letter ="F"
elif student_grade>=60 and student_grade<70:
  letter ="D"
elif student_grade>=70 and student_grade<80:
  letter = "C"
elif student_grade>=80 and student_grade<90:
  letter = "B"
else:
  letter ="A"
print(letter)

Please enter a grade:90
A

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("sfo cust sat 2014 data file_WEIGHTED_flysfo.xlsx",'Sheet 1')

In [ ]:
df

      RESPNUM   CCGID      RUN  INTDATE  ...  Q22OAK LANG    WEIGHT  Location 1
0           1   348.0  18045.0        4  ...       1    1  0.869434         NaN
1           2   349.0  18045.0        4  ...       2    1  0.869434         NaN
2           3   350.0  18045.0        4  ...       1    1  0.869434         NaN
3           4   351.0  18045.0        4  ...       2    1  0.869434         NaN
4           5   352.0  18045.0        4  ...       2    1  0.869434         NaN
...       ...     ...      ...      ...  ...     ...  ...       ...         ...
2813     3003  2816.0  18071.0       12  ...       1    1  0.869434         NaN
2814     3004  2817.0  18107.0       16  ...       2    1  2.543220         NaN
2815     3005  2818.0  18127.0       12  ...       2    1  2.543220         NaN
2816     3006  2819.0  18159.0       23  ...       1    1  0.869434         NaN
2817     3007  2820.0  18082.0       14  ...       2    1  0.702621         NaN

[2818 rows x 94 columns]

In [ ]:
df1= pd.read_csv('sfo cust sat 2015_data file_final_WEIGHTED_flysfo.csv')

In [ ]:
df1

      RESPNUM   CCGID  RUNID  INTDATE  ...  Q22OAK  LANG    WEIGHT  Location 1
0           3   460.0  15076       13  ...       2     1  0.720538         NaN
1           4   554.0  15083       12  ...       2     1  0.669478         NaN
2           5   555.0  15083       12  ...       2     1  0.669478         NaN
3           6   461.0  15076       13  ...       2     1  0.720538         NaN
4           7   556.0  15083       12  ...       2     1  0.669478         NaN
...       ...     ...    ...      ...  ...     ...   ...       ...         ...
2953     3025  2961.0  15399       26  ...       2     1  2.167946         NaN
2954     3026  2962.0  15437       29  ...       2     1  2.167946         NaN
2955     3027  2963.0  15376       20  ...       2     1  0.404020         NaN
2956     3028  2964.0  15438       29  ...       2     1  2.167946         NaN
2957     3029  2965.0  15402       26  ...       1     1  2.167946         NaN

[2958 rows x 88 columns]